/software/cityjson-info/c++11/build
/software/cityjson-compress/c++11/build
/software/cityjson2obj/c++11/build
*.pyc
/docs/_build
/software/cityjson-validator/c++11/build
/software/cityjson-valschema/c++11/build
.DS_Store
/software/cityjson-info/c++11/cityjson-info
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Makefile
libthirdparty.a
/software/cjvalschema/c++11/build
/software/cjinfo/c++11/build
/software/cjcompress/c++11/build
/software/cityjson2citygml/c++11/build
/software/cjcompress/c++11/buildx
/extensions/metadata.json
/extensions/geomtemplates.json
/extensions/geomprimitives.json
/extensions/cityobjects.json
/extensions/cityjson.json
/extensions/appearance.json
/example-datasets/misc/out.obj
/example-datasets/dummy-values/out.obj
